#header-top {
  width: 100%;
  height: 45px;
  background-color: #f15803;
}
#header-top .left-side {
  display: flex;
  width: 100%;
  height: 45px;
  align-items: center;
}
#header-top .left-side ul {
  display: flex;
  list-style: none;
}
#header-top .left-side ul li a {
  text-decoration: none;
  font-size: 14px;
  padding: 0 10px;
  color: #fff;
  transition: 0.5s;
}
#header-top .left-side ul li a:hover {
  color: #dadada;
}
#header-top .right-side {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}
#header-top .right-side .lang {
  width: 100px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
#header-top .right-side .lang:hover ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
#header-top .right-side .lang img {
  width: 16px;
  height: 11px;
}
#header-top .right-side .lang span {
  font-size: 11px;
  color: #fff;
  text-transform: uppercase;
  padding: 0 3px;
}
#header-top .right-side .lang ul {
  display: none;
  list-style: none;
  z-index: 10;
  position: absolute;
  top: 30px;
  width: 100%;
  height: 60px;
  background-color: #fff;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
}
#header-top .right-side .lang ul p {
  font-size: 11px;
  line-height: 10px;
  text-transform: uppercase;
  padding: 0 8px;
}
#header-top .right-side .operations ul {
  display: flex;
  list-style: none;
}
#header-top .right-side .operations ul li a {
  font-size: 11px;
  text-decoration: none;
  color: #fff;
  padding: 0 10px;
  text-transform: uppercase;
}
#header-top .right-side .operations ul li a i {
  font-size: 15px;
}

#header-down {
  width: 100%;
  background-color: #fff;
  height: 120px;
  display: flex;
  align-items: center;
}
#header-down .logo {
  width: 100%;
  cursor: pointer;
}
#header-down .logo .bars {
  display: none;
}
#header-down .logo img {
  width: 100%;
}
#header-down .search-box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#header-down .search-box input {
  width: 242px;
  font-size: 13px;
  padding-left: 15px;
  padding-right: 40px;
  height: 41px;
  border: 1px solid #f15803;
}
#header-down .search-box i {
  position: absolute;
  right: 40px;
  font-size: 16px;
  color: #f15803;
}
#header-down .workdays {
  width: 100%;
  height: 100%;
  margin-left: 36px;
  line-height: 21px;
}
#header-down .workdays a {
  font-size: 33px;
  cursor: pointer;
  color: #f15803;
}
#header-down .workdays p {
  font-size: 12px;
  font-family: GothamLight;
  margin-left: 12px;
}
#header-down .cart {
  display: flex;
  gap: 20px;
}
#header-down .cart .lang {
  display: none;
}
#header-down .cart .wishlist {
  width: 41px;
  height: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #f15803;
  position: relative;
}
#header-down .cart .wishlist i {
  font-size: 15px;
  color: #fff;
}
#header-down .cart .wishlist .count {
  width: 21px;
  height: 21px;
  background-color: #f15803;
  border-radius: 50%;
  position: absolute;
  top: -6px;
  right: -9px;
  color: #fff;
  font-size: 11px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: GothamLight;
}
#header-down .shop {
  display: flex;
  align-items: center;
}
#header-down .shop .butn {
  width: 41px;
  height: 41px;
  background-color: #f15803;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#header-down .shop .butn img {
  width: 20px;
  height: 20px;
  filter: invert(100%);
}
#header-down .shop span {
  font-size: 11px;
  margin-left: 5px;
  font-family: GothamLight;
  font-weight: 600;
  color: #3A3A3A;
}

#navbar {
  width: 100%;
  display: flex;
  height: 46px;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
}
#navbar ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
#navbar ul li a {
  text-decoration: none;
  font-size: 14px;
  color: #3A3A3A;
  text-transform: uppercase;
  font-family: GothamBold;
  padding: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}
#navbar ul li a:hover {
  color: #f15803;
}

@media (max-width: 992px) {
  #header-top {
    display: none;
  }
  #header-down {
    height: 50px;
  }
  #header-down .logo {
    display: flex;
  }
  #header-down .logo .bars {
    display: block;
    margin-top: 7px;
  }
  #header-down .logo .bars i {
    font-size: 25px;
  }
  #header-down .logo img {
    height: 25px;
    width: 129px;
    margin-top: 7px;
  }
  #header-down .logo p {
    font-size: 11px;
  }
  #header-down .cart {
    height: 100%;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: end;
  }
  #header-down .cart .lang {
    display: block;
  }
  #header-down .cart .lang span {
    display: none;
  }
  #header-down .cart .lang ul {
    display: none;
  }
  #header-down .cart .wishlist {
    width: 30px;
    background-color: #fff;
  }
  #header-down .cart .wishlist i {
    color: #3A3A3A;
    font-size: 20px;
  }
  #header-down .cart .wishlist .count {
    display: none;
  }
  #header-down .cart .shop .butn {
    width: 30px;
    background-color: #fff;
  }
  #header-down .cart .shop .butn img {
    filter: invert(0%);
  }
  #header-down .cart .shop span {
    display: none;
  }
  #navbar {
    margin-top: 15px;
  }
  #navbar ul {
    display: none;
  }
  #navbar .search-bar {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  #navbar .search-bar input {
    width: 100%;
    font-size: 13px;
    padding-left: 15px;
    padding-right: 40px;
    height: 40px;
    border: 1px solid #f15803;
  }
  #navbar .search-bar i {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 21px;
    color: #3A3A3A;
  }
}
footer {
  width: 100%;
  background-color: #262626;
  font-family: Nunito;
  margin-top: 20px;
}

#footer-top .column {
  margin-top: 50px;
}
#footer-top .column h6 {
  font-size: 14px;
  color: #c5c5c5;
  font-family: Nunito;
  font-weight: 700;
}
#footer-top .column ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
}
#footer-top .column ul li {
  text-align: -webkit-match-parent;
}
#footer-top .column ul li a {
  color: #969699;
  text-decoration: none;
  font-size: 15px;
  font-weight: 100;
  display: flex;
  align-items: center;
  transition: 0.5s;
}
#footer-top .column ul li a:hover {
  padding-left: 10px;
  color: #f15803;
}
#footer-top .column ul li a i {
  font-size: 8px;
  padding-right: 8px;
}
#footer-top .contact {
  margin-top: 50px;
}
#footer-top .contact h6 {
  font-size: 14px;
  color: #c5c5c5;
  font-family: Nunito;
  font-weight: 700;
}
#footer-top .contact ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#footer-top .contact ul li {
  line-height: 30px;
}
#footer-top .contact ul li p {
  color: #969699;
  font-size: 15px;
}
#footer-top .contact ul li p span {
  padding-right: 13px;
}
#footer-top .contact .follow-us {
  margin-top: 12px;
}
#footer-top .contact .follow-us .email {
  display: flex;
}
#footer-top .contact .follow-us .email input {
  width: 189px;
  height: 35px;
  outline: none;
  border: none;
  padding-left: 12px;
}
#footer-top .contact .follow-us .email button {
  width: 93px;
  height: 35px;
  background-color: #f15803;
  color: #fff;
  font-size: 14px;
  border: none;
  position: relative;
  right: 10px;
}

#socials {
  margin-top: 50px;
}
#socials .content {
  height: 90px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
#socials .content .our-socials {
  display: flex;
  align-items: center;
  height: 90px;
  gap: 15px;
}
#socials .content .our-socials span {
  font-size: 16px;
  font-family: GothamBold;
  color: #bbb;
}
#socials .content .our-socials ul {
  display: flex;
  list-style: none;
  gap: 10px;
}
#socials .content .our-socials ul li {
  width: 36px;
  height: 36px;
}
#socials .content .our-socials ul li i {
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  font-size: 22px;
  cursor: pointer;
}
#socials .content .our-socials ul li i:hover {
  background-color: #f15803;
}
#socials .content .our-socials ul li:nth-child(1) {
  background-color: #3b5998;
}
#socials .content .our-socials ul li:nth-child(2) {
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}
#socials .content .our-socials ul li:nth-child(3) {
  background-color: #cc181e;
}
#socials .content .our-socials ul li:nth-child(4) {
  background-color: #04bd42;
}
#socials .content .payment {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#socials .content .payment ul {
  list-style: none;
  display: flex;
  gap: 15px;
}
#socials .content .payment ul li img {
  width: 64px;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.431372549);
  height: 40px;
  transition: 0.5s;
  cursor: pointer;
}
#socials .content .payment ul li img:hover {
  filter: brightness(0.8);
  transform: scale(1.1);
}

#copyright {
  padding: 20px 0;
}
#copyright .cr span {
  font-size: 12px;
  font-family: GothamLight;
  color: #757575;
}
#copyright .cb {
  display: flex;
  justify-content: flex-end;
}
#copyright .cb p {
  font-size: 12px;
  font-family: GothamLight;
  color: #757575;
}
#copyright .cb p span {
  font-size: 20px;
  font-family: GothamBold;
  transition: 0.5s;
  padding-left: 10px;
}
#copyright .cb p span:hover {
  color: #bc2c34;
}

@media (max-width: 992px) {
  #socials .content {
    height: 170px;
    gap: 10px;
  }
  #socials .content .our-socials {
    justify-content: center;
  }
  #socials .content .payment {
    justify-content: center;
  }
  #copyright .cr {
    display: flex;
    justify-content: center;
  }
  #copyright .cb {
    justify-content: center;
  }
}
@font-face {
  font-family: GothamBold;
  src: url(../../fonts/Gotham-Bold.woff2);
}
@font-face {
  font-family: GothamLight;
  src: url(../../fonts/Gotham-Light.woff2);
}
@font-face {
  font-family: Nunito;
  src: url(../../fonts/NunitoSans_10pt-Regular.ttf);
}
.container-main {
  width: 60%;
  margin: 0 auto;
}

body {
  font-family: GothamBold;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.whatsapp {
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 95px;
  border-radius: 50%;
  right: 23px;
  background-color: #25d366;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 3px #999;
}
.whatsapp i {
  color: #fff;
}

.send-message {
  position: absolute;
  width: 200px;
  height: 40px;
  display: flex;
  padding: 0 15px;
  z-index: 20;
  align-items: center;
  bottom: -5px;
  right: 20px;
  border-radius: 15px 15px 0px 0px;
  position: fixed;
  background-color: #f15803;
  color: #fff;
}
.send-message h6 {
  margin: 0;
}

#banner {
  background-image: url(../../images/redmi_banner_bg.png);
  width: 100%;
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}
#banner .arrows {
  position: absolute;
  width: 100%;
  display: none;
  top: 50%;
  transition: 0.9s;
}
#banner .arrows i {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fafa24;
  background-color: rgba(216, 216, 216, 0.8509803922);
}
#banner:hover .arrows {
  display: flex;
  justify-content: space-between;
}
#banner .dots {
  display: flex;
  position: absolute;
  gap: 10px;
  bottom: 20px;
  width: 100%;
  justify-content: center;
}
#banner .dots .item {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #b7b7b7;
  cursor: pointer;
}
#banner .dots .item:nth-child(1) {
  width: 16px;
  height: 16px;
  border: 3px solid #b7b7b7;
  border-radius: 50%;
  background-color: #3A3A3A;
}

#brands {
  padding: 50px 0;
}
#brands .brand {
  width: 100%;
  height: 103px;
  border: 1px solid #e0e0e0;
}
#brands .brand img {
  width: 160px;
  height: 100%;
  padding: 10px;
  opacity: 0.7;
  transition: 0.3s;
  cursor: pointer;
}
#brands .brand img:hover {
  transform: scale(1.05);
  opacity: 1;
}

#special .offer .header {
  padding-left: 15px;
  width: 824px;
  height: 47px;
  border: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#special .offer .header h6 {
  font-size: 16px;
  color: #6b6a81;
  padding-top: 10px;
}
#special .offer .header .controller {
  width: 48px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #e0e0e0;
  display: flex;
  gap: 14px;
  color: #6b6a81;
  font-size: 13px;
  opacity: 0.7;
}
#special .offer .header .controller i {
  transition: 0.2s;
  cursor: pointer;
}
#special .offer .header .controller i:hover {
  color: #f15803;
}
#special .offer .content {
  width: 824px;
  height: 355px;
  border: 1px solid #e0e0e0;
  border-top: none;
  display: flex;
}
#special .offer .content .image {
  width: 303px;
  height: 303px;
  padding: 0 15px;
  cursor: pointer;
  transition: 0.5s;
}
#special .offer .content .image:hover {
  transform: scale(1.03, 1.03);
}
#special .offer .content .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#special .offer .content .title {
  margin-top: 20px;
  padding: 0 15px;
}
#special .offer .content .title a {
  font-size: 18px;
  color: #4a4a4a;
  text-decoration: none;
  text-transform: uppercase;
}
#special .offer .content .title .price-box {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
}
#special .offer .content .title .price-box p {
  font-size: 21px;
  color: #f15803;
}
#special .offer .content .title .price-box span {
  text-decoration: line-through;
  font-size: 15px;
  font-family: GothamLight;
  padding-left: 5px;
}
#special .banner {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
#special .banner img {
  transition: 0.5s;
  cursor: pointer;
}
#special .banner img:hover {
  transform: scale(1.05) rotate(1.2deg);
  opacity: 0.8;
}

#products {
  margin-top: 50px;
}
#products .title {
  width: 100%;
  border: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#products .title ul {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-right: 50px;
  gap: 10px;
  list-style: none;
}
#products .title ul li a {
  padding: 7px 20px 6px;
  font-size: 17px;
  color: #777;
  transition: 0.5s;
  text-decoration: none;
}
#products .title ul li a:hover {
  color: #fff;
  background-color: #f15803;
}
#products .title ul li:first-child a {
  color: #4a4a4a;
  text-decoration: underline;
}
#products .title ul li:first-child a:hover {
  color: #fff;
}
#products .title .controller {
  width: 48px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #e0e0e0;
  display: flex;
  gap: 14px;
  color: #6b6a81;
  font-size: 13px;
  opacity: 0.7;
}
#products .title .controller i {
  transition: 0.2s;
  cursor: pointer;
}
#products .title .controller i:hover {
  color: #f15803;
}
#products .product-table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#products .product-table .item:first-child .button a {
  background-color: red;
}
#products .product-table .item {
  position: relative;
  width: 204px;
  height: 298px;
  padding: 9px;
  cursor: pointer;
}
#products .product-table .item:hover .image .cover {
  display: flex;
  flex-direction: column;
}
@keyframes operations {
  from {
    top: 20px;
  }
  to {
    top: 50px;
  }
}
@keyframes detail {
  from {
    bottom: -90px;
  }
  to {
    bottom: 0px;
  }
}
#products .product-table .item:hover .details {
  display: none;
}
#products .product-table .item:hover .button {
  display: block;
}
#products .product-table .item .image {
  width: 184px;
  height: 184px;
  position: relative;
}
#products .product-table .item .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#products .product-table .item .image .cover {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  justify-content: center;
  align-items: center;
  position: absolute;
}
#products .product-table .item .image .cover .detail {
  display: flex;
  flex-direction: column;
  position: absolute;
  animation-name: detail;
  animation-timing-function: ease;
  animation-duration: 0.4s;
  bottom: 0;
  height: 90px;
  width: 100%;
  background-color: black;
  color: #fff;
  align-items: center;
  text-align: center;
}
#products .product-table .item .image .cover .detail a {
  width: 150px;
  font-size: 15px;
  padding-top: 15px;
  color: #dedede;
  overflow: hidden;
}
#products .product-table .item .image .cover .detail .price {
  font-family: GothamLight;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
#products .product-table .item .image .cover .detail .price p {
  font-size: 15px;
  color: green;
}
#products .product-table .item .image .cover .detail .price span {
  font-size: 12px;
  text-decoration: line-through;
  font-family: GothamLight;
  padding-left: 5px;
}
#products .product-table .item .image .cover .operations {
  display: flex;
  gap: 10px;
  margin-bottom: 50px;
  animation-name: operations;
  animation-timing-function: ease;
  animation-duration: 0.4s;
  position: absolute;
}
#products .product-table .item .image .cover .operations i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  color: #ffffff;
  border: 1.5px solid #ffffff;
  background: #f15803;
  font-size: 10px;
  transition: 0.2s;
  cursor: pointer;
}
#products .product-table .item .image .cover .operations i:hover {
  background-color: #fff;
  color: #f15803;
}
#products .product-table .item .details {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#products .product-table .item .details a {
  text-align: center;
  height: 34px;
  line-height: 17px;
  font-size: 15px;
}
#products .product-table .item .details .price-box {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
#products .product-table .item .details .price-box p {
  font-size: 17px;
  color: #f15803;
}
#products .product-table .item .details .price-box span {
  font-size: 15px;
  text-decoration: line-through;
  font-family: GothamLight;
  padding-left: 5px;
}
#products .product-table .item .button {
  display: none;
  padding-top: 30px;
  padding-left: 15px;
}
#products .product-table .item .button a {
  text-decoration: none;
  font-size: 11px;
  color: #fff;
  width: 153px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.6196078431);
}
#products .product-table .item .sale {
  position: absolute;
  display: block;
  width: 115px;
  height: 95px;
  z-index: 20;
  top: 0;
  left: -20px;
  background-position: center;
  background-size: contain;
  -o-object-fit: contain;
     object-fit: contain;
  background-size: 64%;
  background-repeat: no-repeat;
  background-image: url(../../images/sale.png);
}

#offers {
  margin-top: 70px;
}
#offers .image {
  width: 100%;
  position: relative;
}
#offers .image:hover {
  opacity: 0.9;
}
#offers .image:hover .borders {
  border: 3px solid #fff;
  transform: scale(0.95, 0.9);
}
#offers .image img {
  width: 100%;
  height: 226px;
}
#offers .image .borders {
  margin: auto;
  transition: 0.2s;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

#blog {
  margin-top: 30px;
}
#blog .header {
  padding-left: 15px;
  width: 100%;
  height: 47px;
  border: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#blog .header h6 {
  font-size: 16px;
  color: #6b6a81;
  padding-top: 10px;
}
#blog .header .controller {
  width: 48px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #e0e0e0;
  display: flex;
  gap: 14px;
  color: #6b6a81;
  font-size: 13px;
  opacity: 0.7;
}
#blog .header .controller i {
  transition: 0.2s;
  cursor: pointer;
}
#blog .header .controller i:hover {
  color: #f15803;
}
#blog .blogs {
  width: 100%;
  border: 1px solid #e0e0e0;
  border-top: none;
}
#blog .blogs .content {
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 19px 24px 19px 24px;
}
#blog .blogs .content .image {
  width: 245px;
  height: 245px;
  border-radius: 13px;
  overflow: hidden;
}
#blog .blogs .content .image img {
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
#blog .blogs .content .image img:hover {
  opacity: 0.6;
}
#blog .blogs .content .title {
  width: 245px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#blog .blogs .content .title a {
  color: black;
  font-size: 14px;
  text-transform: uppercase;
  transition: 0.3s;
  cursor: pointer;
}
#blog .blogs .content .title a:hover {
  color: #f15803;
}
#blog .blogs .content .title p {
  font-size: 14px;
  font-family: GothamLight;
}
#blog .blogs .content .title .read-more a {
  width: 100px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #454545;
  font-size: 10px;
  text-decoration: none;
  color: #fff;
  text-transform: none;
  position: relative;
}
#blog .blogs .content .title .read-more a::after {
  content: ">>";
  position: absolute;
  right: -29px;
  width: 29px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f15803;
}

@media (max-width: 992px) {
  .container-main {
    width: 95%;
    margin: 0 auto;
  }
  #banner {
    height: 200px;
  }
  #banner .arrows {
    top: 40%;
  }
  #banner .dots {
    bottom: 30px;
  }
  #brands .brand {
    height: 124px;
  }
  #brands .brand img {
    width: 196px;
    height: 100%;
  }
  #special .offer .header {
    width: 100%;
  }
  #special .offer .header h6 {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #special .offer .header .controller {
    display: none;
  }
  #special .offer .content {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 10px;
    height: 365px;
    border-left: none;
    border-right: none;
  }
  #special .offer .content .title {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  #special .offer .content .title a {
    text-align: center;
  }
  #special .offer .content .title .price-box {
    justify-content: center;
  }
  #products .product-table {
    justify-content: center;
  }
  #products .title ul {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  #products .title ul li a {
    font-size: 15px;
  }
  #products .title .controller {
    display: none;
  }
  #offers .image img {
    height: 286px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  #offers .borders {
    display: none;
  }
  #blog .blogs .content {
    flex-direction: column;
  }
}
@media (max-width: 1368px) {
  .container-main {
    width: 90%;
    margin: 0 auto;
  }
}/*# sourceMappingURL=home.css.map */